.Careersmain {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: url("https://res.cloudinary.com/devewerw3/image/upload/v1720423474/DALL_E_2024-07-08_12.49.03_-_A_modern_classroom_with_a_turquoise_wall_a_whiteboard_in_the_center_bookshelves_with_books_and_some_decorative_items_and_desks_arranged_in_rows._Th_t0fgqo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .Careersmain::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
  } 

  .blur-bg{
    /* background-color: rgba(255, 255, 255, 0.1); */
        background-color: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(5px);
  }

  /* Add these styles to your Login.css or equivalent file */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  outline: none;
  z-index: 1000; /* Ensure the modal has a high z-index */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999; /* Ensure the overlay has a high z-index */
}